[Desktop Entry]
Version=1.0
Type=Application
Name=appimage-services
Comment=App
TryExec=appimage-services-wrapper.sh
Exec=appimage-services-wrapper.sh
Icon=appimage_logo
Categories=Utility;
NoDisplay=true
X-AppImage-Integrate=false
